<div class="container">
<p id="notice"><%= notice %></p>


<h1>Recipes </h1>
  <div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-md-4">
     <div class="recipe-box">
        <ul>
          <li><%= recipe.name %></li>
          <li><%= link_to 'Show', recipe, class: "btn btn-dark" %>
          <%= link_to 'Add to list', {:controller => "lists", :action => "add_recipe", :recipe => recipe.id }, class: "btn btn-dark"%> </li>
        </ul>
    </div>  
    <br>
   </div>
  <% end %>
</div> <!--/row-->
<br>

</div>